body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
}

#navbar {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  border-right: 3.1px solid #a09d9d; 
  width: 292px;
  left: 0;
  padding-top: 10px;
}

#main-doc {
  position: relative;
  left: 337px;
  width: 1150px;
}

header {
  font-size: 1.8em;
  font-weight: thin;
}

#navbar > header {
  position: relative;
  text-align: center;
  margin-top: 20px;
  bottom: 10px;
  padding-bottom: 10px;
}

a {
  color: #504e4e;
  text-decoration: none;
  margin-top: 50px;
  display: block;
  width: 100%;
  position: relative;
  left: 20px;
  
}

#navbar ul li {
  border-top: 1px solid black;
}

#navbar > ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding-left: 0;
}

pre {
  background: rgb(245, 245, 245);
  width: 1135px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding-left: 10px;
}
